<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>添加</title>
	<link rel="stylesheet" type="text/css" href="css/bm_add.css">
	<script src="../../js/jquery.min.1.12.4.js"></script>
</head>

<body>
	<div>
		<canvas id="sakura" width="1280" height="578"></canvas>
		<div id="maxbox">
			<div class="left">
				<div class="lefthead">
					<div class="logo">
						<img src="../../img/logo.png" width="100px" height="100px">
					</div>
					<div class="daohang">比赛项目</div>
				</div>
				<div class="leftend">
					<div class="aaa">比赛项目信息</div>
					<details>
						<summary class="aaa">比赛项目排行榜</summary>
						<li><a href="index.php">女子800米</a></li>
						<li><a href="#">女子跳远</a></li>
						<li><a href="#">女子跳高</a></li>
						<li><a href="#">男子跳远</a></li>
						<li><a href="#">男子3000米</a></li>
						<li><a href="#">男子实心球</a></li>
						<li><a href="#">男子跳远</a></li>
						<li><a href="#">男子100米</a></li>
					</details>
				</div>
			</div>
			<div class="right">
				<div class="righthead">
					<h1 id="h1">运动员报名信息修改</h1>
				</div>

				<div class="rightmid">
					<div>运动员编号:
						<select id="select1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>

					<div class="xy">学院:<a>人工智能学院</a></div>
					<div class="xh">学号:<a>119263000213</a></div>
					<div class="xm">姓名:<a>严豪</a></div>
					<div>项目编号:
						<select id="select2">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
					<div class="lx">类型:径赛</div>
					<div class="mc">名称:<a>1500米</a></div>
					<div class="cr"></div>

				</div>
				<div class="rightend">
					<a href="bm.html">
						<div class="fanhui">返回</div>
					</a>
					<a>
						<div class="tijiao">提交</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<script src="js/bm_data.js"></script>
</body>

</html>